/* color palette from <https://github.com/vuejs/theme> */
:root {
  --font-family: "Alegreya Sans", sans-serif;
  --font-family-second: "Alegreya", sans-serif;
  --color-bg-element: #1E1E1E;
  --color-fg: #fff;
  --color-bg: #253334;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: var(--font-family);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
}


