/* color palette from <https://github.com/vuejs/theme> */
:root {
  --font-family: "Alegreya Sans", sans-serif;
  --font-family-second: "Alegreya", sans-serif;
  --color-bg-element: #1E1E1E;
  --color-fg: #fff;
  --color-bg: #253334;
  --color-inactive: #bec2c2;
  --body-bg-image: none;
  --body-bg-auth-image: url('@/assets/auth_bg.jpg');
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: var(--font-family);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);

  background-image: var(--body-bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  height: 100vh;
}

.body__auth {
  background-image: var(--body-bg-auth-image);
}


